.navigation {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: $purple-main-color;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

.nav__logo{
    max-width: 200px;
    height: auto;
    padding-left: 50px;
    
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.nav__items{
        display: flex;
        flex-direction: row;
        margin: 30px;
        list-style: none;
}

.nav__item{
        margin: 0px 20px;
    
    a{
        color: #ffffff;
        text-decoration: none;
    }

    &:hover{
        transition-duration: 0.5s;
        scale: 1.05;
    }
}


