/* SECTION FIVE */
.section__five{
    background-image: url("../images/image-traveler1.png");
    object-fit: cover;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}