.button{
    @include button-style;
}

/* SECTION THREE */
.section__three{
    background-image: url("../images/image-house.png");
    background-size: cover;
    background-position: center;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__three__wrapper{
}

.section__three__card{
    background-color: $grey-opacity;
    max-width: 500px;
    padding: 30px;
    padding-bottom: 50px;
    position: relative;
    left: -30%;
}

  /* RESPONSIVE */
  @media (max-width: 800px) {
    .section__three__card {
        position: relative;
        left: 0;
        margin: 30px;
    
    }
  
  }