/* SECTION TWO */
.section__two{
    background-color: #333333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

&__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
}

}

.section__two__item{
    margin: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.search{
    fill: $purple-main-color;
}

.select{
    fill: #FF6363;
}

.book{
    fill: #00A2FF;
}

/* RESPONSIVE */
@media (max-width: 800px) {
    .section__two__wrapper {
        flex-direction: column;
        margin: 20px;
    }

    .section__two__item{
        margin: 30px;
    }
      
}