.button{
    @include button-style;
}

/* SECTION ONE */

.section__one{
    background-image: url("../images/image-city.png");
    object-fit: cover;
    min-height: 500px;
}

.section__one__wrapper{
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8%;
}

.section__one__text{
        max-width: 400px;
        margin-bottom: 40px;
        

        &__p{
            margin-bottom: 30px;
        }
    }


    .section__one__image__1{
        max-width: 350px;
        height: auto;
        object-fit: cover;
        margin: 10px;
        
    }
    
    .section__one__image__2{
        max-width: 350px;
        height: auto;
        object-fit: cover;
        margin: 10px; 
        position: relative;
        left: 50px;
    }